<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Task</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
 
    <form action="" class="imaged-form">
        <h3>Add task with Images</h3>
        <div>
            <label for="">Write New Task</label>
            <input type="text" class="note" autofocus required >
        </div>
        <div>
            <button class="img-upload submitB" >
                Add Images
            </button>
        </div>
        <div>
            <button class="url-image">
                <label>Or Add The Link For Image</label>
                <input type="url" class="url-image-input">
            </button>
        </div>
        <button type="submit" class="submit">
            Add Task
        </button>
    </form>
    <script src="../assets/js/imagedScript.js"></script>
</body>
</html>