<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Add Task</title>
</head>
<body>
    <h1>Create New Task</h1>
    <form class="normal-form">
        <div>
            <label for="">Your First Task</label>
            <input type="text" id="task" autofocus required>
        </div>
        <div class="divBtn">
            <button class="Add-task">Add Task</button>
        </div>
        
    </form>
    <script src="../assets/js/normalScript.js"></script>
</body>
</html>